
    /* Utility classes */
    .hidden {
        display: none;
    }
    .dropdown-op {
        margin: 2px 2px;
        font-size: 1em;
        font-family: 'Arial';
        text-align: center;
        background-color: gray;
        border: 1px solid black;
        border-radius: 8px;
    }

    .dropdown-op:hover {
        background-color: black;
    }

    .moving-text {
        cursor: pointer;
        font-size: 14px;
        position: absolute;
    }
    .moving-text:hover {
        color: black;
    }

    * {
        color: #000;
        align-content: center;
        text-align: center;
    }
    
    body {
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin:0px;
        padding:0px;
    }

    h1 {
        color: white;
        font-size: large;
        font-family: 'Arial';
    }

    button {
        border: none;
        border-radius: 8px;
    }
    p, a {
        font-family: 'Arial';
        color: white;
    }

    .red {
        background-color: red;
        color: red;
    }
    .blue {
        background-color: blue;
        color: blue;
    }
    .pink {
        background-color: #FF6EC7;
        color: #FF6EC7;
    }
    .yellow {
        background-color: #FFFF33;
        color: #FFFF33;
    }
    .orange {
        background-color: #FF6700;
        color: #FF6700;
    }
    .purple {
        background-color: #9400D3;
        color: #9400D3;
    } 

    #nightmare{
        color: red;
        text-transform: uppercase;
   }

    
